/* TownMapContainer.css */
.town-map-container {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevents overflow */
  background-color: #018002;
  display: flex;
}

.town-map-wrapper {
  display: flex;
  max-width: 100cqw;
  max-height: 100cqh;
  aspect-ratio: 12 / 7; /* 12 columns by 7 rows */
  justify-content: center;
  align-items: center;
}
