@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

:root {
  font-family: 'Jersey 25', monospace;
  font-weight: 400;
  font-style: normal;
  color-scheme: light dark;
  background-color: #242424;
  overscroll-behavior: none;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #fafafa;
  }
}

body {
  font-family: 'VT323', monospace;
  min-width: 20rem;
  margin: 0;
  overscroll-behavior: none;
}
